<h1>Editing Provider Specialty</h1>

<%= render 'form', provider_specialty: @provider_specialty %>

<%= link_to 'Show', @provider_specialty, :class => "btn btn-link" %> |
<%= link_to 'Back', provider_specialties_path, :class => "btn btn-link" %>
